# ruby on rails
*.gem
*.rbc
.byebug_history
.rvmrc
.dat*
.repl_history
/build/
/build-iPhoneOS/
/build-iPhoneSimulator/
/*.bridgesupport
/.bundle/
/vendor/bundle
/lib/bundler/man/
/log/*
/tmp/*
/storage/*
/config/master.key
/config/credentials.yml.enc

# testing and coverage
/coverage/
/spec/reports/
/spec/examples.txt
/test/tmp/
/test/version_tmp/
/InstalledFiles

# docs
/.yardoc/
/_yardoc/
/doc/
/rdoc/

# Node.js / Frontend
node_modules/
dist/
.vite/
*.log

# env
.env
.env.local
.env.*.local

.DS_Store
*.swp

# package artifacts
/pkg/
/.config

/vendor/Pods/
